In [1]:
import matplotlib.pyplot as plt
import gmaps
import pandas as pd
import requests
import numpy as np
import datetime

In [2]:
url = "https://data.cityofchicago.org/resource/tdab-kixi.json"
r = requests.get(url)
r

In [3]:
# call json
json = r.json()

In [4]:
# check what type of data the json file has
type(json)

list

In [5]:
# create a data frame from the json file
df = pd.DataFrame(json)
# df

In [6]:
# Create a new column with index values
# df['index_column'] = df.index
# df

# #using reset_index() to set index into column
# df2=df.reset_index()

# #Using reset_index, inplace=True
# df.reset_index(inplace=True)
# df

In [7]:
# drop uncecessary columns
# #1 -using column name
# df2= df.drop(columns= [':@computed_region_rpca_8um6', ':@computed_region_vrxf_vc4k', ':@computed_region_6mkv_f3dw', ':@computed_region_bdys_3d7i',':@computed_region_43wa_7qmu', ':@computed_region_awaf_s7ux' ], axis = 1)
# df2

#2 - using column index number - much easier since you don't have to copy/paste the nmae of the column
df2 = df.drop(df.columns[[7,8,9,10,11,12]], axis = 1)
# df2

In [8]:
# convert datetime column to just date
df2['landmark_designation_date'] = pd.to_datetime(df2['landmark_designation_date']).dt.date
# df2

In [9]:
##

df2['designation_year'] =  pd.DatetimeIndex(df2['landmark_designation_date']).year
# df2

In [10]:
#rearrange the columns
df2 = df2.reindex(['landmark_name','id', 'address', 'landmark_designation_date', 'designation_year', 'date_built','architect', 'location', 'latitude', 'longitude' ], axis=1)
# df2

In [11]:
#remove decimal from 'designation year'
df2['designation_year'] = df2['designation_year'].astype(str).apply(lambda x: x.replace('.0',''))
df2

,landmark_name,id,address,landmark_designation_date,designation_year,date_built,architect,location,latitude,longitude
0,Vassar Swiss Underwear Company Building,L-265,2543 - 2545 W Diversey Av,2008-07-30,2008,NaN,NaN,"{'latitude': '41.9316266084', 'longitude': '-8...",41.93162660840,-87.69210009570
1,Mathilde Eliel House,L- 89,4122 S Ellis Av,1991-10-02,1991,1886,Adler & Sullivan,"{'latitude': '41.819255751', 'longitude': '-87...",41.81925575100,-87.60278799920
2,Manhattan Building,L-139,431 S Dearborn St,1978-07-07,1978,1891,William LeBaron Jenney,"{'latitude': '41.8760657234', 'longitude': '-8...",41.87606572340,-87.62896445050
3,Machinery Hall at Illinois Institute of Techno...,L- 12,100 W 33rd St,2004-05-26,2004,1901,"Patton, Fisher & Miller","{'latitude': '41.8351614122', 'longitude': '-8...",41.83516141220,-87.62922122350
4,Melissa Ann Elam House,L- 88,4726 S Dr Martin Luther King Jr Dr,1979-03-21,1979,1903,Henry L. Newhouse,"{'latitude': '41.808529769', 'longitude': '-87...",41.80852976900,-87.61720439490
...,...,...,...,...,...,...,...,...,...,...
312,(Former) Schlitz BreweryTied-House@1944 N.Oakley,L-310,1944 N. Oakley Ave.,2011-10-05,2011,1898,Kley & Lang,"{'latitude': '41.917484239', 'longitude': '-87...",41.91748423900,-87.68525569570
313,Getty Tomb,L-103,"Graceland Cemetery, 4011 N Clark St",1971-03-10,1971,1890,Louis H. Sullivan,"{'latitude': '41.9612300749', 'longitude': '-8...",41.96123007490,-87.66118862080
314,"Engine Company 129, Truck 50",L-236,8120 S Ashland Av,2003-10-01,2003,1928-29,Argyle E. Robinson,"{'latitude': '41.746005133', 'longitude': '-87...",41.74600513300,-87.66370577170
315,James Charnley House,L- 65,1365 N Astor st,1972-08-20,1972,1891,"Adler and Sullivan, Frank Lloyd Wright","{'latitude': '41.9076480171', 'longitude': '-8...",41.90764801710,-87.62747782300
316,Beeson House and Coach House,L-224,5810 W Midway Park,1999-01-20,1999,1892,Frederick Schock,"{'latitude': '41.8893178892', 'longitude': '-8...",41.88931788920,-87.77060810720

In [12]:
# df2['year'] = df2['year'].astype('int')
# df2
#check how many rows in built year have null values
count_nan = df['date_built'].isnull().sum()
print ('Count of NaN: ' + str(count_nan))
#results= 40

Count of NaN: 40

In [13]:
#drop the empty values
nan_value = float('NaN')
df2.replace('', nan_value, inplace = True)
df2.dropna(subset = ['date_built'], inplace = True)
df2

,landmark_name,id,address,landmark_designation_date,designation_year,date_built,architect,location,latitude,longitude
1,Mathilde Eliel House,L- 89,4122 S Ellis Av,1991-10-02,1991,1886,Adler & Sullivan,"{'latitude': '41.819255751', 'longitude': '-87...",41.81925575100,-87.60278799920
2,Manhattan Building,L-139,431 S Dearborn St,1978-07-07,1978,1891,William LeBaron Jenney,"{'latitude': '41.8760657234', 'longitude': '-8...",41.87606572340,-87.62896445050
3,Machinery Hall at Illinois Institute of Techno...,L- 12,100 W 33rd St,2004-05-26,2004,1901,"Patton, Fisher & Miller","{'latitude': '41.8351614122', 'longitude': '-8...",41.83516141220,-87.62922122350
4,Melissa Ann Elam House,L- 88,4726 S Dr Martin Luther King Jr Dr,1979-03-21,1979,1903,Henry L. Newhouse,"{'latitude': '41.808529769', 'longitude': '-87...",41.80852976900,-87.61720439490
5,(Former) Pioneer Trust and Savings Bank Building,L-318,4000 W. North Ave.,2012-06-06,2012,1924,Karl M. Vitzthum,"{'latitude': '41.9101921054', 'longitude': '-8...",41.91019210540,-87.72661734150
...,...,...,...,...,...,...,...,...,...,...
312,(Former) Schlitz BreweryTied-House@1944 N.Oakley,L-310,1944 N. Oakley Ave.,2011-10-05,2011,1898,Kley & Lang,"{'latitude': '41.917484239', 'longitude': '-87...",41.91748423900,-87.68525569570
313,Getty Tomb,L-103,"Graceland Cemetery, 4011 N Clark St",1971-03-10,1971,1890,Louis H. Sullivan,"{'latitude': '41.9612300749', 'longitude': '-8...",41.96123007490,-87.66118862080
314,"Engine Company 129, Truck 50",L-236,8120 S Ashland Av,2003-10-01,2003,1928-29,Argyle E. Robinson,"{'latitude': '41.746005133', 'longitude': '-87...",41.74600513300,-87.66370577170
315,James Charnley House,L- 65,1365 N Astor st,1972-08-20,1972,1891,"Adler and Sullivan, Frank Lloyd Wright","{'latitude': '41.9076480171', 'longitude': '-8...",41.90764801710,-87.62747782300
316,Beeson House and Coach House,L-224,5810 W Midway Park,1999-01-20,1999,1892,Frederick Schock,"{'latitude': '41.8893178892', 'longitude': '-8...",41.88931788920,-87.77060810720

In [14]:
df2.count()

landmark_name                277
id                           277
address                      277
landmark_designation_date    275
designation_year             277
date_built                   277
architect                    270
location                     277
latitude                     277
longitude                    277
dtype: int64

In [17]:
# 'architect' column only has 270 entries row, we will not drop those rows, beacuse the architect name it is not that importnat in this situation

In [29]:
location_2 = df2[['latitude','longitude']].astype(float)

year = df2['designation_year'].astype(float)
year

0      1991.0
1      1978.0
2      2004.0
3      1979.0
4      2012.0
        ...
272    2011.0
273    1971.0
274    2003.0
275    1972.0
276    1999.0
Name: designation_year, Length: 277, dtype: float64

In [30]:
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(location_2, weights = year, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)
fig.add_layer(heat_layer)
plt.savefig("Heat_Map.png")