In [37]:
import pandas as pd
import requests

In [38]:
url = "https://data.cityofchicago.org/resource/tdab-kixi.json"
r = requests.get(url)
r

In [39]:
# call json
json = r.json()

In [40]:
# check what type of data the json file has
type(json)

list

In [41]:
# create a data frame from the json file
df = pd.DataFrame(json)
df

,landmark_name,id,address,landmark_designation_date,latitude,longitude,location,:@computed_region_rpca_8um6,:@computed_region_vrxf_vc4k,:@computed_region_6mkv_f3dw,:@computed_region_bdys_3d7i,:@computed_region_43wa_7qmu,:@computed_region_awaf_s7ux,date_built,architect
0,Vassar Swiss Underwear Company Building,L-265,2543 - 2545 W Diversey Av,2008-07-30T07:00:00.000Z,41.93162660840,-87.69210009570,"{'latitude': '41.9316266084', 'longitude': '-8...",1,23,22535,240,40,24,NaN,NaN
1,Mathilde Eliel House,L- 89,4122 S Ellis Av,1991-10-02T07:00:00.000Z,41.81925575100,-87.60278799920,"{'latitude': '41.819255751', 'longitude': '-87...",36,2,4301,220,10,1,1886,Adler & Sullivan
2,Manhattan Building,L-139,431 S Dearborn St,1978-07-07T07:00:00.000Z,41.87606572340,-87.62896445050,"{'latitude': '41.8760657234', 'longitude': '-8...",35,38,14913,92,10,48,1891,William LeBaron Jenney
3,Machinery Hall at Illinois Institute of Techno...,L- 12,100 W 33rd St,2004-05-26T07:00:00.000Z,41.83516141220,-87.62922122350,"{'latitude': '41.8351614122', 'longitude': '-8...",40,1,21194,25,9,12,1901,"Patton, Fisher & Miller"
4,Melissa Ann Elam House,L- 88,4726 S Dr Martin Luther King Jr Dr,1979-03-21T08:00:00.000Z,41.80852976900,-87.61720439490,"{'latitude': '41.808529769', 'longitude': '-87...",10,4,21192,162,9,12,1903,Henry L. Newhouse
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312,(Former) Schlitz BreweryTied-House@1944 N.Oakley,L-310,1944 N. Oakley Ave.,2011-10-05T07:00:00.000Z,41.91748423900,-87.68525569570,"{'latitude': '41.917484239', 'longitude': '-87...",1,23,22535,373,40,16,1898,Kley & Lang
313,Getty Tomb,L-103,"Graceland Cemetery, 4011 N Clark St",1971-03-10T08:00:00.000Z,41.96123007490,-87.66118862080,"{'latitude': '41.9612300749', 'longitude': '-8...",53,31,21186,241,39,37,1890,Louis H. Sullivan
314,"Engine Company 129, Truck 50",L-236,8120 S Ashland Av,2003-10-01T07:00:00.000Z,41.74600513300,-87.66370577170,"{'latitude': '41.746005133', 'longitude': '-87...",59,70,21554,574,13,18,1928-29,Argyle E. Robinson
315,James Charnley House,L- 65,1365 N Astor st,1972-08-20T07:00:00.000Z,41.90764801710,-87.62747782300,"{'latitude': '41.9076480171', 'longitude': '-8...",54,37,14926,308,34,51,1891,"Adler and Sullivan, Frank Lloyd Wright"
316,Beeson House and Coach House,L-224,5810 W Midway Park,1999-01-20T08:00:00.000Z,41.88931788920,-87.77060810720,"{'latitude': '41.8893178892', 'longitude': '-8...",32,26,22216,672,7,52,1892,Frederick Schock

In [42]:
# Create a new column with index values
df['index_column'] = df.index
df

# #using reset_index() to set index into column
# df2=df.reset_index()

# #Using reset_index, inplace=True
# df.reset_index(inplace=True)
# df

,landmark_name,id,address,landmark_designation_date,latitude,longitude,location,:@computed_region_rpca_8um6,:@computed_region_vrxf_vc4k,:@computed_region_6mkv_f3dw,:@computed_region_bdys_3d7i,:@computed_region_43wa_7qmu,:@computed_region_awaf_s7ux,date_built,architect,index_column
0,Vassar Swiss Underwear Company Building,L-265,2543 - 2545 W Diversey Av,2008-07-30T07:00:00.000Z,41.93162660840,-87.69210009570,"{'latitude': '41.9316266084', 'longitude': '-8...",1,23,22535,240,40,24,NaN,NaN,0
1,Mathilde Eliel House,L- 89,4122 S Ellis Av,1991-10-02T07:00:00.000Z,41.81925575100,-87.60278799920,"{'latitude': '41.819255751', 'longitude': '-87...",36,2,4301,220,10,1,1886,Adler & Sullivan,1
2,Manhattan Building,L-139,431 S Dearborn St,1978-07-07T07:00:00.000Z,41.87606572340,-87.62896445050,"{'latitude': '41.8760657234', 'longitude': '-8...",35,38,14913,92,10,48,1891,William LeBaron Jenney,2
3,Machinery Hall at Illinois Institute of Techno...,L- 12,100 W 33rd St,2004-05-26T07:00:00.000Z,41.83516141220,-87.62922122350,"{'latitude': '41.8351614122', 'longitude': '-8...",40,1,21194,25,9,12,1901,"Patton, Fisher & Miller",3
4,Melissa Ann Elam House,L- 88,4726 S Dr Martin Luther King Jr Dr,1979-03-21T08:00:00.000Z,41.80852976900,-87.61720439490,"{'latitude': '41.808529769', 'longitude': '-87...",10,4,21192,162,9,12,1903,Henry L. Newhouse,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312,(Former) Schlitz BreweryTied-House@1944 N.Oakley,L-310,1944 N. Oakley Ave.,2011-10-05T07:00:00.000Z,41.91748423900,-87.68525569570,"{'latitude': '41.917484239', 'longitude': '-87...",1,23,22535,373,40,16,1898,Kley & Lang,312
313,Getty Tomb,L-103,"Graceland Cemetery, 4011 N Clark St",1971-03-10T08:00:00.000Z,41.96123007490,-87.66118862080,"{'latitude': '41.9612300749', 'longitude': '-8...",53,31,21186,241,39,37,1890,Louis H. Sullivan,313
314,"Engine Company 129, Truck 50",L-236,8120 S Ashland Av,2003-10-01T07:00:00.000Z,41.74600513300,-87.66370577170,"{'latitude': '41.746005133', 'longitude': '-87...",59,70,21554,574,13,18,1928-29,Argyle E. Robinson,314
315,James Charnley House,L- 65,1365 N Astor st,1972-08-20T07:00:00.000Z,41.90764801710,-87.62747782300,"{'latitude': '41.9076480171', 'longitude': '-8...",54,37,14926,308,34,51,1891,"Adler and Sullivan, Frank Lloyd Wright",315
316,Beeson House and Coach House,L-224,5810 W Midway Park,1999-01-20T08:00:00.000Z,41.88931788920,-87.77060810720,"{'latitude': '41.8893178892', 'longitude': '-8...",32,26,22216,672,7,52,1892,Frederick Schock,316

In [51]:
# drop uncecessary columns
# #1 -using column name
# df2= df.drop(columns= [':@computed_region_rpca_8um6', ':@computed_region_vrxf_vc4k', ':@computed_region_6mkv_f3dw', ':@computed_region_bdys_3d7i',':@computed_region_43wa_7qmu', ':@computed_region_awaf_s7ux' ], axis = 1)
# df2

#2 - using column index number - much easier since you don't have to copy/paste the nmae of the column
df2 = df.drop(df.columns[[7,8,9,10,11,12]], axis = 1)
df2

,landmark_name,id,address,landmark_designation_date,latitude,longitude,location,date_built,architect,index_column
0,Vassar Swiss Underwear Company Building,L-265,2543 - 2545 W Diversey Av,2008-07-30T07:00:00.000Z,41.93162660840,-87.69210009570,"{'latitude': '41.9316266084', 'longitude': '-8...",NaN,NaN,0
1,Mathilde Eliel House,L- 89,4122 S Ellis Av,1991-10-02T07:00:00.000Z,41.81925575100,-87.60278799920,"{'latitude': '41.819255751', 'longitude': '-87...",1886,Adler & Sullivan,1
2,Manhattan Building,L-139,431 S Dearborn St,1978-07-07T07:00:00.000Z,41.87606572340,-87.62896445050,"{'latitude': '41.8760657234', 'longitude': '-8...",1891,William LeBaron Jenney,2
3,Machinery Hall at Illinois Institute of Techno...,L- 12,100 W 33rd St,2004-05-26T07:00:00.000Z,41.83516141220,-87.62922122350,"{'latitude': '41.8351614122', 'longitude': '-8...",1901,"Patton, Fisher & Miller",3
4,Melissa Ann Elam House,L- 88,4726 S Dr Martin Luther King Jr Dr,1979-03-21T08:00:00.000Z,41.80852976900,-87.61720439490,"{'latitude': '41.808529769', 'longitude': '-87...",1903,Henry L. Newhouse,4
...,...,...,...,...,...,...,...,...,...,...
312,(Former) Schlitz BreweryTied-House@1944 N.Oakley,L-310,1944 N. Oakley Ave.,2011-10-05T07:00:00.000Z,41.91748423900,-87.68525569570,"{'latitude': '41.917484239', 'longitude': '-87...",1898,Kley & Lang,312
313,Getty Tomb,L-103,"Graceland Cemetery, 4011 N Clark St",1971-03-10T08:00:00.000Z,41.96123007490,-87.66118862080,"{'latitude': '41.9612300749', 'longitude': '-8...",1890,Louis H. Sullivan,313
314,"Engine Company 129, Truck 50",L-236,8120 S Ashland Av,2003-10-01T07:00:00.000Z,41.74600513300,-87.66370577170,"{'latitude': '41.746005133', 'longitude': '-87...",1928-29,Argyle E. Robinson,314
315,James Charnley House,L- 65,1365 N Astor st,1972-08-20T07:00:00.000Z,41.90764801710,-87.62747782300,"{'latitude': '41.9076480171', 'longitude': '-8...",1891,"Adler and Sullivan, Frank Lloyd Wright",315
316,Beeson House and Coach House,L-224,5810 W Midway Park,1999-01-20T08:00:00.000Z,41.88931788920,-87.77060810720,"{'latitude': '41.8893178892', 'longitude': '-8...",1892,Frederick Schock,316

In [53]:
# convert datetime column to just date
df2['landmark_designation_date'] = pd.to_datetime(df2['landmark_designation_date']).dt.date
df2

,landmark_name,id,address,landmark_designation_date,latitude,longitude,location,date_built,architect,index_column
0,Vassar Swiss Underwear Company Building,L-265,2543 - 2545 W Diversey Av,2008-07-30,41.93162660840,-87.69210009570,"{'latitude': '41.9316266084', 'longitude': '-8...",NaN,NaN,0
1,Mathilde Eliel House,L- 89,4122 S Ellis Av,1991-10-02,41.81925575100,-87.60278799920,"{'latitude': '41.819255751', 'longitude': '-87...",1886,Adler & Sullivan,1
2,Manhattan Building,L-139,431 S Dearborn St,1978-07-07,41.87606572340,-87.62896445050,"{'latitude': '41.8760657234', 'longitude': '-8...",1891,William LeBaron Jenney,2
3,Machinery Hall at Illinois Institute of Techno...,L- 12,100 W 33rd St,2004-05-26,41.83516141220,-87.62922122350,"{'latitude': '41.8351614122', 'longitude': '-8...",1901,"Patton, Fisher & Miller",3
4,Melissa Ann Elam House,L- 88,4726 S Dr Martin Luther King Jr Dr,1979-03-21,41.80852976900,-87.61720439490,"{'latitude': '41.808529769', 'longitude': '-87...",1903,Henry L. Newhouse,4
...,...,...,...,...,...,...,...,...,...,...
312,(Former) Schlitz BreweryTied-House@1944 N.Oakley,L-310,1944 N. Oakley Ave.,2011-10-05,41.91748423900,-87.68525569570,"{'latitude': '41.917484239', 'longitude': '-87...",1898,Kley & Lang,312
313,Getty Tomb,L-103,"Graceland Cemetery, 4011 N Clark St",1971-03-10,41.96123007490,-87.66118862080,"{'latitude': '41.9612300749', 'longitude': '-8...",1890,Louis H. Sullivan,313
314,"Engine Company 129, Truck 50",L-236,8120 S Ashland Av,2003-10-01,41.74600513300,-87.66370577170,"{'latitude': '41.746005133', 'longitude': '-87...",1928-29,Argyle E. Robinson,314
315,James Charnley House,L- 65,1365 N Astor st,1972-08-20,41.90764801710,-87.62747782300,"{'latitude': '41.9076480171', 'longitude': '-8...",1891,"Adler and Sullivan, Frank Lloyd Wright",315
316,Beeson House and Coach House,L-224,5810 W Midway Park,1999-01-20,41.88931788920,-87.77060810720,"{'latitude': '41.8893178892', 'longitude': '-8...",1892,Frederick Schock,316